# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Environment variables
.env

cloudrun.env
all_env.yaml
# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Firebase
boardyboo-firebase-adminsdk-fbsvc-93f523d8d4.json